@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define a striped background for empty table cells */
.bg-stripes {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'><path d='M-2 2l4-4M0 8l8-8M6 10l4-4' stroke='%23e0e0e0' stroke-width='2'/></svg>");
    background-repeat: repeat;
    background-size: 8px 8px;
}


:root {
    --background: #ffffff;
    --foreground: #171717;
    --blue: #02b0f3;
    --light-grey: #f8f8f8;
}

/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --background: #0a0a0a;*/
/*        --foreground: #ededed;*/
/*    }*/
/*}*/

* {
    font-size: 1.2rem; /* Ensures no text is smaller than 16px */
}

#main-body {
    color: var(--foreground);
    background: var(--light-grey);
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    /*gap: 1rem;*/
    overflow: hidden;
    /*width: 100vw;*/
}

#main-section {
    height: 100%
}

html {
    height: 100%;
    overflow-y: scroll !important;
}

html, body {
    /*height: 100%;*/
    margin: 0;
}

.MuiButton-root {
    text-transform: none !important;
}

h1 {
    font-size: 2rem !important;
    font-weight: bold  !important;
}

h2 {
    font-size: 1.6rem !important;
    font-weight: bold !important;
}

h3 {
    font-size: 1.4rem !important;
    font-weight: bold !important;
}

/* Main Styles */

#content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    height: 100%;
    /*margin-top: 10rem;*/
    padding-top: 0;
    background-color: var(--light-grey);
}

#inner-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: white;
    padding: 3rem 5rem 3rem 5rem;
    gap: 1rem;
    width: 100rem;
    height: 100%
}

#title {
    font-size: 2rem;
    padding: 1.5rem 1.5rem 0 1.5rem;
    display: flex;
    gap: 1rem;
    color: black;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#main-app-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: white;
    position: sticky;
    top: 0;
    width: 100vw;
}

#main-app-bar > * {
    width: 100%;
}

#nav-toolbar {
    background-color: #f8f8f8;
    border-bottom: 1px solid #c4c4c4;
    color: #0a0a0a;
    display: flex;
    padding: 0.5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-top: 2px solid #c4c4c4;
}

.nav-link {
    color: #0a0a0a !important;
}

.nav-button {
    border-radius: 0 !important;
    /*cursor: default; !* Prevents hover effect *!*/
    background-color: transparent !important; /* Prevents background changes */
    box-shadow: none !important; /* Removes MUI button shadow */
}

.nav-button:hover {
    background-color: transparent !important; /* Ensures no hover effect */
    border-bottom: 2px solid var(--blue);
}

.nav-divider {
    height: 3rem !important;
    border-right-width: 3px !important;
}

.nav-button:active {
    background-color: transparent !important;
    box-shadow: none !important;
}

/* Filter and search */

.filter-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.search-objects-component {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem
}

#search-filter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 40rem;
    height: auto;
    border: 1px solid #c4c4c4;
    border-radius: 0.3rem;
}

.title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.sub-title {
    font-size: 1.3rem;
    font-weight: bold;
}


/*.input-selector {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    gap: 1rem;*/
/*}*/

.exact-selector {
    justify-content: center !important;
}

.range-selector, .exact-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 13rem;
    /*overflow: hidden;*/
}

.large-input-text-field {
    width: 100%;
}

.small-input-text-field {
    width: 6rem;
}

.input-selector-form {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    gap: 1rem;
}

.input-and-range-label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 6rem;
    color: black !important;
}

.input-attributes-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.input-attributes-group-label {
    color: black !important;
}


.outline-box {
    border: 1px solid #c4c4c4;
    padding: 1rem;
    border-radius: 0.3rem;
}

.table-column-header-cell {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0.5rem !important;
    background-color: #DCDCDC;
}

.data-table {
    border: 1px solid #c4c4c4;
    width: auto;
}

#search-filter-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.attribute-group-label-button {
    font-weight: bold !important;
    color: black !important;
    text-transform: none !important;
    font-size: large !important;
}

#sort-by-dropdown-control {
    width: 11rem;
}

#results-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /*padding: 1rem;*/
    /*border: 1px solid #c4c4c4;*/
    /*border-radius: 0.3rem;*/
}

.view-object-link {
    color: black !important;
    text-decoration: none !important;
}

/* Viewing an Object */

#large-view-object-img {
    margin-top: 3rem;
}

#view-object-main-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#view-object-secondary-box {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.view-object-component {
    display: flex;
    flex-direction: column;
}

#main-description-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    /*border: 1px solid #c4c4c4;*/
    /*border-radius: 0.3rem;*/
}

.table-with-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-table-cell > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#detailed-attributes-box {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: 0.5rem;
}

#main-attributes-table {
    width: 25rem;
}

#object-links-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 0.5rem;
}

.download-dropdown-label {
    width: 6rem
}

/* Uploading an object */

#pick-upload-button-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

#main-upload-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

#pick-files-box {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.pick-file-button {
    height: 3rem;
}

#styled-file-name {
    font-family: monospace;
    background-color: #f5f5f5;
    padding: 2px 6px;
    border-radius: 4px;
    color: black;
}

#upload-file-button {
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

#upload-info-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

#inspection-records-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.single-inspection-record-box {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
}

.inspection-date-picker {
    width: 10rem;
}

#custom-id-and-upload-button-box {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

/* Connections Page */

#connections-main-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

#connections-form-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

#connections-form-and-results-box {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: start;
}

#connection-table-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.connection-table-group-cell {
    font-weight: bold !important;
    background-color: #ddd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.connection-table-subgroup-cell {
    font-weight: bold !important;
    background-color: #eee;
}

/* Table Styles */

.lined-table {
    border-collapse: collapse;
}

.lined-table td, .lined-table th {
    border: 1px solid;
    border-color: grey;
}

.table-vertical-internal-borders {
    border-collapse: collapse;
}

.table-vertical-internal-borders td,
.table-vertical-internal-borders th {
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
}

/* Remove borders on the first and last column */
.table-vertical-internal-borders td:first-child,
.table-vertical-internal-borders th:first-child {
    border-left: none;
}

.table-vertical-internal-borders td:last-child,
.table-vertical-internal-borders th:last-child {
    border-right: none;
}
