@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

* {
    font-size: 1.2rem; /* Ensures no text is smaller than 16px */
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    min-height: 100%;
}

#main-section{
    height: 100%
}

html {
    height: 100%;
}

html, body {
    /*height: 100%;*/
    margin: 0;
}

.MuiButton-root {
    text-transform: none !important;
}

h2 {
    font-size: 1.6rem;
    font-weight: bold;
}

/* Main Styles */
#title {
    font-size: 2rem;
    padding: 1.5rem 1.5rem 0 1.5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#main-app-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#main-app-bar > * {
    width: 100%;
}

#nav-toolbar {
    background-color: #f8f8f8;
    border-bottom: 1px solid #c4c4c4;
    color: #0a0a0a;
    display: flex;
    padding: 0.5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    height: 100%;
    margin-top: 9rem;
    padding-top: 0;
    background-color: #f8f8f8;
}

#inner-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: white;
    padding: 3rem 5rem 3rem 5rem;
    gap: 1rem;
    width: 100rem;
    height: 100%
}

/* Filter and search */

.filter-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.search-objects-component {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem
}

#search-filter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 40rem;
    height: auto;
    border: 1px solid #c4c4c4;
    border-radius: 0.3rem;
}

.title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.sub-title {
    font-size: 1.3rem;
    font-weight: bold;
}


/*.input-selector {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    gap: 1rem;*/
/*}*/

.exact-selector {
    justify-content: center !important;
}

.range-selector, .exact-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 13rem;
    /*overflow: hidden;*/
}

.large-input-text-field {
    width: 100%;
}

.small-input-text-field {
    width: 6rem;
}

.input-selector-form {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    gap: 1rem;
}

.input-and-range-label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 6rem;
    color: black !important;
}

.input-attributes-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.input-attributes-group-label {
    color: black !important;
}


.outline-box {
    border: 1px solid #c4c4c4;
    padding: 1rem;
    border-radius: 0.3rem;
}

.table-column-header-cell {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0.5rem !important;
    background-color: #DCDCDC;
}

.data-table {
    border: 1px solid #c4c4c4;
    width: auto;
}

#search-filter-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.attribute-group-label-button {
    font-weight: bold !important;
    color: black !important;
    text-transform: none !important;
    font-size: large !important;
}

#sort-by-dropdown-control {
    width: 11rem;
}

#results-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /*padding: 1rem;*/
    /*border: 1px solid #c4c4c4;*/
    /*border-radius: 0.3rem;*/
}

/* Viewing an Object */

.view-object-component {
    display: flex;
    flex-direction: column;
}

.main-description-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #c4c4c4;
    border-radius: 0.3rem;
}

.table-with-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-table-cell > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Uploading an object */

#pick-upload-button-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

#main-upload-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

#pick-files-box {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.pick-file-button {
    height: 3rem;
}

#styled-file-name {
    font-family: monospace;
    background-color: #f5f5f5;
    padding: 2px 6px;
    border-radius: 4px;
    color: black;
}

#upload-file-button {
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

#upload-info-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}