@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

* {
    font-size: 1.2rem; /* Ensures no text is smaller than 16px */
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    width: auto;
    height: auto;
    /*width: 100%;*/
    margin: 2rem;
    padding: 2rem;
}

.filter-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.search-objects-component {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem
}

.search-filter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 40rem;
    height: auto;
    border: 1px solid #c4c4c4;
    border-radius: 0.3rem;
}

.title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.title {
    font-size: 2rem;
}

.sub-title {
    font-size: 1.3rem;
    font-weight: bold;
}


/*.input-selector {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    gap: 1rem;*/
/*}*/

.exact-selector {
    justify-content: center !important;
}

.range-selector, .exact-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 13rem;
    /*overflow: hidden;*/
}

.large-input-text-field {
    width: 100%;
}

.small-input-text-field {
    width: 6rem;
}

.input-selector-form {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    gap: 1rem;
}

.input-and-range-label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 6rem;
    color: black !important;
}

.input-attributes-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.input-attributes-group-label {
    color: black !important;
}

.search-filter-title {
    font-size: 2rem;
    font-weight: bold;
}

.outline-box {
    border: 1px solid #c4c4c4;
    padding: 1rem;
    border-radius: 0.3rem;
}

.table-column-header-cell {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0.5rem !important;
    background-color: #DCDCDC;
}

.data-table {
    border: 1px solid #c4c4c4;
}

.search-filter-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.attribute-group-label-button {
    font-weight: bold !important;
    color: black !important;
    text-transform: none !important;
    font-size: large !important;
}

/* Viewing an Object */

.view-object-component {
    display: flex;
    flex-direction: column;
}

.main-description-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #c4c4c4;
    border-radius: 0.3rem;
}